{% extends "base.html" %}

{% block content %}
<div class="container mt-5 d-flex flex-column bg-img-frame align-items-center">
    <h2 class="mb-4">Register</h2>
    <form method="post" action="{% url 'register' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        
        <!-- Username Field -->
        <div class="mb-3 d-flex justify-content-between">
            <label for="{{ form.username.id_for_label }}" class="form-label align-self-start">Username</label>
            {{ form.username }}
            <div class="invalid-feedback">
                {{ form.username.errors }}
            </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3 d-flex justify-content-between">
            <label for="{{ form.password1.id_for_label }}" class="form-label align-self-start">Password</label>
            {{ form.password1 }}
            <div class="invalid-feedback">
                {{ form.password1.errors }}
            </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="mb-3 d-flex justify-content-between">
            <label for="{{ form.password2.id_for_label }}" class="form-label align-self-start">Confirm Password</label>
            {{ form.password2 }}
            <div class="invalid-feedback">
                {{ form.password2.errors }}{{ form.password_mismatch}}
            </div>
        </div>
        <div class="row col btn bg-secondary-color d-block mb-5">
            <div class="row">
                <button type="submit" class="btn text-light">Upload</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
